header{
    margin:10px;
    padding:10px;
    background-color:  #8400ff;;
    text-align: center;
}
img{
   height:500px;
   width:500px
}
footer{
    background-color:  #8400ff;;
    background-color:);
   margin:20px;
   padding:20px
}body
{
   background-image:url("backimage.jpg");
   background-repeat:no-repeat;
   background-size: 100% 100%;

}